{% extends 'base.html' %}
{% block content %}
  {% if validlink %}
    <div class="p-2 text-center">
      <div class="fs-1 fw-bold">Смена пароля</div>
    </div>
    <form method="post" class="d-lg-flex d-sm-none justify-content-center">
    {% csrf_token %}
    <div class="p-2 text-center">
        <label class="form-label fs-5"> Новый пароль </label>
        <div class="form-control-lg">{{ form.new_password1 }}</div>
        <label class="form-label fs-5"> Повторите пароль </label>
        <div class="form-control-lg">{{ form.new_password2 }}</div>
        <button type="submit" class="btn btn-outline-secondary fs-5">Подтвердить</button>
    </div>
    </form>
    <form method="post" class="d-lg-none justify-content-center">
    {% csrf_token %}
    <div class="p-2 text-center">
        <label class="form-label fs-2"> Новый пароль </label>
        <div class="form-control-lg" style="font-size: xx-large;">{{ form.new_password1 }}</div>
        <label class="form-label fs-2"> Повторите пароль </label>
        <div class="form-control-lg" style="font-size: xx-large;">{{ form.new_password2 }}</div>
        <button type="submit" class="btn btn-outline-secondary fs-2">Подтвердить</button>
    </div>
    </form>
  {% else %}
    <p>
      Вероятно ссылка неверна или уже была использована
    </p>
  {% endif %}
{% endblock %}