{% extends "base.html" %}
{% load django_bootstrap5 %}
{% bootstrap_css %}

{% block title %} О нас {% endblock %}

{% block content %}
<div class="container">
    <div class="fs-3">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Мы являемся сертифицированным производителем носков из города Тула.<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Вот уже более 20 лет мы выпускаем высококачественную продукцию, продающуюся по всей России.<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;В работе используем качественное сырье и импортное оборудование, что позволяет изготавливать конкурентную продукцию с минимальным процентом брака.<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Наш каталог содержит большой ассортимент моделей, который мы постоянно расширяем.<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Также у вас есть возможность заказать индивидуальный дизайн изделия.<br>
    </div>
    <br><br>
    <div class="fs-2 text-center fw-bold">
        Сертификат соответствия:
        <br><br>
        <img src="/static/images/cert.jpg" class="img-fluid">
    </div>
</div>
{% endblock %}