{% extends "base.html" %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block title %} Информация {% endblock %}
{% block content %}
<div class="d-sm-none d-lg-block bg-white p-2" style="height: 70px;">
    <a class="btn btn-outline-secondary btn-lg me-2" href="{% url 'socks' %}">
    Вернуться в каталог
    </a>
</div>
<div class="d-lg-none bg-white p-4" style="height: 160px;">
    <a class="btn btn-outline-secondary btn-lg me-2" href="{% url 'socks' %}" style="--bs-btn-font-size: 4rem;">
    Вернуться в каталог
    </a>
</div>
<div class="row justify-content-center p-4 g-sm-3">
  <div class="col-sm-10 col-lg-5">
    <div id="carouselExampleIndicators" class="carousel carousel-dark slide shadow">
      <div class="carousel-inner rounded">
        {% for img in sock.images.all %}
        <div class="carousel-item {% if forloop.first %} active {% endif %}">
          <img src="{{ img.image.url }}" class="img-fluid">
        </div>
        {% endfor %}
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
              data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
              data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
  <div class="col-sm-10 col-lg-5 bg-white rounded shadow opacity-75">
    <div class="d-lg-block d-sm-none text-center fs-3" style="height: 556px; overflow: auto;">
      <b>{{ sock.name }}</b>
      <br>
      <b>Описание:</b>
      <br>
      {{ sock.description }}
      <br>
      <b>Состав:</b>
      <br>
      {{ sock.fabric }}
    </div>
    <div class="d-lg-none text-center fs-1" style="height: 556px; overflow: auto;">
      <b>{{ sock.name }}</b>
      <br>
      <b>Описание:</b>
      <br>
      {{ sock.description }}
      <br>
      <b>Состав:</b>
      <br>
      {{ sock.fabric }}
    </div>
  </div>
</div>
{% endblock %}