{% extends "base.html" %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block title %} Информация {% endblock %}
{% block content %}
<div class="container p-2">
  <div id="carouselExampleIndicators" class="carousel slide">
    <div class="carousel-inner">
      {% for img in sock.images.all %}
      <div class="carousel-item {% if forloop.first %} active {% endif %}">
        <img src="{{ img.image.url }}" class="img-fluid rounded mx-auto d-block" style="height: calc(100vh - 150px);">
      </div>
      {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
{% endblock %}