{% extends "base.html" %}

{% block title %} Информация {% endblock %}
{% block content %}
    {{ sock }}
<div class="slideshow-container">
    {% for img in sock.images.all %}
    <div class="mySlides fade">
    <div class="numbertext">{{forloop.counter}} / {{ sock.images.all|length }}</div>
    <img src="{{ img.image.url }}">
  </div>
    {% endfor %}
<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
<a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>
<br>
{{ sock.description }}
<script src="/static/js/socks_slide.js"></script>
{% endblock %}