{% extends "base.html" %}

{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block title %} Squad_socks {% endblock %}
{% block content %}
<div class="d-sm-none d-lg-block bg-white" style="height: 70px;">
    <div class="d-flex p-2">
        {% for url, name in menu.items %}
            <a class="btn btn-outline-secondary btn-lg me-2" href="{{ url }}" role="button" style="width: 25%;">{{ name }}</a>
        {% endfor %}
    </div>
</div>
<div class="d-lg-none bg-white">
    <p>
        <a type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
            <img class="p-2" src="/static/css/button.png" style="height: 160px;">
        </a>
    </p>
    <div class="collapse bg-white" id="collapseExample">
        <div class="container p-2" style="width: 100%;">
            {% for url, name in menu.items %}
                <div class="d-grid p-2">
                    <a class="btn btn-outline-secondary btn-lg p-2" href="{{ url }}" style="--bs-btn-font-size: 4rem;">{{ name }}</a>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

<div>
    {% for image in images %}
        <img src="{{ image.image.url }}">
    {% endfor %}
</div>

{% endblock %}
