{% extends "base.html" %}

{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block title %} Squad_socks {% endblock %}
{% block content %}
<div class="d-sm-none d-lg-block bg-white" style="height: 70px;">
    <div class="d-flex p-2">
        {% for url, name in menu.items %}
            <a class="btn btn-outline-secondary btn-lg me-2" href="{{ url }}" role="button" style="width: 25%;">{{ name }}</a>
        {% endfor %}
    </div>
</div>
<div class="d-lg-none bg-white">
    <a type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
        <img class="p-2" src="/static/images/button.png" style="height: 160px;">
    </a>
    <div class="collapse bg-white" id="collapseExample">
        <div class="container p-2" style="width: 100%;">
            {% for url, name in menu.items %}
                <div class="d-grid p-2">
                    <a class="btn btn-outline-secondary btn-lg p-2" href="{{ url }}" style="--bs-btn-font-size: 4rem;">{{ name }}</a>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
<div id="carouselExample1" class="carousel slide d-lg-block d-sm-none" data-bs-ride="carousel">
  <div class="carousel-inner">
    {% for img in images_lg %}
        <div class="carousel-item {% if forloop.first %} active {% endif %}">
          <img src="{{ img.image.url }}" class="d-block w-100">
        </div>
    {% endfor %}
  </div>
</div>
<div id="carouselExample2" class="carousel slide d-sm-block d-lg-none" data-bs-ride="carousel">
  <div class="carousel-inner">
    {% for img in images_sm %}
        <div class="carousel-item {% if forloop.first %} active {% endif %}">
          <img src="{{ img.image.url }}" class="d-block w-100">
        </div>
    {% endfor %}
  </div>
</div>
<div class="d-block p-4 bg-white rounded opacity-75">
    <div class="fs-2 fw-bold text-center">
        Наши преимущества:
    </div>
</div>
<div class="block">
    <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="row p-4 g-2 justify-content-around">
            <div class="col-sm-5 col-lg-2 text-center">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <figure data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                            <img src="/static/images/skill.png" class="img-fluid"/>
                            <figcaption class="text-center p-2 fs-2 fw-bold">
                                ОПЫТ
                                <br>
                                ▼
                            </figcaption>
                        </figure>
                    </h2>
                    <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body fs-3">
                            Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion body.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-5 col-lg-2 text-center">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <figure data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                            <img src="/static/images/quality.png" class="img-fluid"/>
                            <figcaption class="text-center p-2 fs-2 fw-bold">
                                КАЧЕСТВО
                                <br>
                                ▼
                            </figcaption>
                        </figure>
                    </h2>
                    <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body fs-3">
                            Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion body.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-5 col-lg-2 text-center">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <figure data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                            <img src="/static/images/clock.png" class="img-fluid"/>
                            <figcaption class="text-center p-2 fs-2 fw-bold">
                                СРОКИ
                                <br>
                                ▼
                            </figcaption>
                        </figure>
                    </h2>
                    <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body fs-3">
                            Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion body.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-5 col-lg-2 text-center">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <figure data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                            <img src="/static/images/design.png" class="img-fluid"/>
                            <figcaption class="text-center p-2 fs-2 fw-bold">
                                ДИЗАЙН
                                <br>
                                ▼
                            </figcaption>
                        </figure>
                    </h2>
                    <div id="flush-collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body fs-3">
                            Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion body.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
