.base {
    background-image: url('base.jpg');
    background-size: 400px 400px;
}


.content {
    min-height: calc(100vh - 150px);
}

.footer {
    text-align: center;
    height: 30px;
    background-color: lightgrey;
}

.sm-checkbox input {
    transform: scale(5);

}

.lg-checkbox input {
    transform: scale(2);

}

.about
{
  text-align: center;
  background-color: white;
  margin: 30px;
  border-radius: 10px;
  font-family: 'Arial';
  font-weight: bold;
  font-size: larger;
  box-shadow: 0 3px 8px #808080;
}

.delivery
{
  text-align: center;
  background-color: white;
  margin: 30px;
  border-radius: 10px;
  font-family: 'Arial';
  font-weight: bold;
  font-size: larger;
  box-shadow: 0 3px 8px #808080;
}

.contacts
{
  text-align: center;
  background-color: white;
  margin: 30px;
  border-radius: 10px;
  font-family: 'Arial';
  font-weight: bold;
  font-size: larger;
  box-shadow: 0 3px 8px #808080;
}