.content {
    min-height: calc(100vh - 150px);
}

.footer {
    text-align: center;
    height: 30px;
    background-color: lightgrey;
}

.sm-checkbox input {
    transform: scale(5);

}

.lg-checkbox input {
    transform: scale(2);

}