{% extends "base.html" %}
{% block title %} Каталог носков {% endblock %}
{% block content %}
<div class="search">
    <h3>Параметры поиска:</h3>
    <form method="get">
        {% for form in forms %}
        <div class="form">{{ form.label }} {{ form }} </div>
        {% endfor %}
        <button class="button" type="submit">Применить</button>
    </form>
    <form action="{% url 'socks' %}">
        <button  class="button" >Сбросить</button>
    </form>
</div>
<div class="cards">
{% for sock in socks %}
    <div class="card">
        {{ sock }} {{ sock.season }}
        {% if sock.start_image %}
            <img src="{{ sock.start_image.url }}" width="200" height="150"/>
        {% endif %}
    </div>
{% endfor %}
</div>
{% endblock %}