.content {
    min-height: calc(100vh - 70px);
}

.footer {
    text-align: center;
    height: 50px;
    background-color: lightgrey;
}

.card {
    display: block;
    width: 300px;
    min-height: 350px;
    text-align: center;
    box-shadow: 0 2px 8px #808080;
    border-radius: 5px;
    background-color: white;
    margin: 20px;
}

.img {
    display: block;
    margin: auto;
    padding: 5%;
    border-radius: 20px;
}

.card:hover {
    box-shadow: 4px 6px 10px #808081;
    transition: transform 0.5s;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    width: 100%;
    max-width: 1200px;
    justify-content: center;
    justify-items: center;
    column-gap: 30px;
    row-gap: 40px;
}


.menu {
    display: flex;
    background-color: #d2fce0;
    box-shadow: 0 3px 8px #808080;
}

.start {
    box-shadow: 0 3px 8px #808080;
    background-color: white;
    border-radius: 5px;
    width: 450px;
    height: 60px;
    margin: 15px;
    align-items: center;
    justify-content: center;
    display: flex;
    text-decoration: none;
    font-family: Impact;
    font-weight: 800;
    font-size: 120%;
    color: black;
}

.start:hover {
    transform: scale(1.1);
    transition: transform 0.5s;
}

.search {
    text-align: center;
    font-size: 20px;
    float: left;
    width: 20%;
    box-shadow: 0 10px 8px #808080;
    background-color: #d2fce0;
    border-radius: 5px;
    margin: 20px;
}

.form {
    box-shadow: 0 3px 8px #808080;
    background-color: white;
    border-radius: 5px;
    text-align: center;
    margin: 10px;
    font-family: Impact;
    font-weight: 400;
    font-size: 30px;
}



.button {
    font-size: 25px;
    margin: 5px;
}

.top {
    height: 30px;
    width: 100%;
    background-color: lightgrey;
}

input[type='checkbox'] {
    transform: scale(1.8);
    display: table-cell;
    vertical-align: middle;
}

select[name='gender'] {
    transform: scale(1.4);
    display: table-cell;
    vertical-align: middle;
    margin: inherit;
}