{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>  {% block title %} {% endblock %}  </title>
    <link rel="stylesheet" href=" {% static 'socks_page/socks.css' %}">
</head>
<body>
    <div class="top">
        <a href="{% url 'start' %}">Главная страница</a>
    </div>
    <div class="content">
   {% block content %} {% endblock %}
    </div>
   <footer class="footer">
       <div>
           ИП Быков В.Ю.
       </div>
   </footer>
</body>
</html>