{% block content %}
    <div class="sticky-top">
        <div class="d-lg-block bg-white d-sm-none" style="width: 100%;">
            <a href="{% url 'start' %}">
                <img class="p-2" src="/static/images/squad.png" style="width: 200px;">
            </a>
        </div>
        <div class="d-flex bg-white d-lg-none" style="width: 100%;">
            <a href="{% url 'start' %}">
                <img class="p-2" src="/static/css/squad.png" style="width: 400px;">
            </a>
        </div>
    </div>
{% endblock %}